<!-- Flyout 1 - Links Promos -->
<div id="{{id}}" class="dropdown flyout-brands">
    <h3>Featured Brand Showcases</h3>
    <div class="brands-menu">
        {{#group_column 6 menu}}
        <ul class="brand-links">
            {{#each this }}
            <li data-flyout="{{id}}">
                <a href="{{url}}" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-{{removeSpecial title}}');">
                    {{{title}}}
                </a>
            </li>
            {{/each}}
        </ul>
        {{/group_column}}
    </div>
    <div class="brands-nav">
        <div class="by-letter">
            <a href="/content/brands/default.aspx?#brandA" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-A');">A</a>
            <a href="/content/brands/default.aspx?#brandB" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-B');">B</a>
            <a href="/content/brands/default.aspx?#brandC" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-C');">C</a>
            <a href="/content/brands/default.aspx?#brandD" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-D');">D</a>
            <a href="/content/brands/default.aspx?#brandE" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-E');">E</a>
            <a href="/content/brands/default.aspx?#brandF" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-F');">F</a>
            <a href="/content/brands/default.aspx?#brandG" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-G');">G</a>
            <a href="/content/brands/default.aspx?#brandH" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-H');">H</a>
            <a href="/content/brands/default.aspx?#brandI" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-I');">I</a>
            <a href="/content/brands/default.aspx?#brandJ" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-J');">J</a>
            <a href="/content/brands/default.aspx?#brandK" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-K');">K</a>
            <a href="/content/brands/default.aspx?#brandL" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-L');">L</a>
            <a href="/content/brands/default.aspx?#brandM" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-M');">M</a>
            <a href="/content/brands/default.aspx?#brandN" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-N');">N</a>
            <a href="/content/brands/default.aspx?#brandO" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-O');">O</a>
            <a href="/content/brands/default.aspx?#brandP" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-P');">P</a>
            <a href="/content/brands/default.aspx?#brandQ" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-Q');">Q</a>
            <a href="/content/brands/default.aspx?#brandR" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-R');">R</a>
            <a href="/content/brands/default.aspx?#brandS" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-S');">S</a>
            <a href="/content/brands/default.aspx?#brandT" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-T');">T</a>
            <a href="/content/brands/default.aspx?#brandU" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-U');">U</a>
            <a href="/content/brands/default.aspx?#brandV" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-V');">V</a>
            <a href="/content/brands/default.aspx?#brandW" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-W');">W</a>
            <a href="/content/brands/default.aspx?#brandX" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-X');">X</a>
            <a href="/content/brands/default.aspx?#brandY" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-Y');">Y</a>
            <a href="/content/brands/default.aspx?#brandZ" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'Brands-Z');">Z</a>
        </div>
        <a class="button -gray -border" href="/shop/search/browse.aspx" onclick="CdwTagMan.createPromotionTag('Global Navigation', 'View All Brands');">View All Brands</a>
    </div>
</div>